			html, body {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
			#mainWindow {width:100%;height:100%;}
			#mapWindow {position:relative;width:100%;height:100%;border:solid 1px #416AB1;padding:0;margin:0;}
			#map {margin:0px;border-style:none;}
			
			#header {-moz-border-radius:5px;border-radius:5px;margin:2px;padding-top:4px;padding-right:15px;background-color:#929761;color:#421b14;font-size:16pt;text-align:right;font-weight:bold;border:solid 2px #3A0095;height:55px;}
			#subheader {font-size:small;color:#cfcfcf;text-align:right;padding-right:20px;}

			#leftPane {margin:0px;padding:0px;width:260px;color:black;background-color:white;border:solid 2px #416AB1;}
			
			#mapGrid {height:100%;width:100%;}
			.footerimage {border-style:none;float:right;}
			.shadow {-o-border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;box-shadow:8px 8px 16px #323834;-webkit-box-shadow:8px 8px 16px #323834;-moz-box-shadow:8px 8px 16px #323834;-o-box-shadow:8px 8px 16px #323834;}

			.claro .dijitAccordionText {margin-left:12px;margin-right:4px;color:#416AB1;}
			.claro .dijitButtonText {padding:0;}

			
			.esriLargeSlider {left:10px;}
			
			#zoomLevelIcon {background-image:url(../images/zoomlevels/zoom0.png);width:16px;height:16px;position:absolute;top:20px;left:17px;z-index:99;}

			.maplayers_icon {background-image:url(../images/Basemap16.png);width:16px;height:16px;position:absolute;left:5px;}
			.maptools_icon {background-image:url(../images/nav_zoomin.png);width:16px;height:16px;position:absolute;left:5px;}
			.tabStatus {background-image:url(../images/IdentifyWindowShow16.png);width:16px;height:16px;}
			.tabSites {background-image:url(../images/LocationsSymbolized_A16.png);width:16px;height:16px;}
			.tabMapTools {background-image:url(../images/MapAnalyze16.png);width:16px;height:16px;}
			.tabDataTools {background-image:url(../images/TableQuery16.png);width:16px;height:16px;}
			
			.zoominIcon {background-image:url(../images/nav_zoomin_box.png);width:16px;height:16px;}
			.zoomoutIcon {background-image:url(../images/nav_zoomout_box.png);	width:16px;height:16px;}
			.zoomfullextIcon {background-image:url(../images/nav_fullextent.png);width:16px;height:16px;}
			.zoomprevIcon {background-image:url(../images/nav_previous.png);width:16px;height:16px;}
			.zoomnextIcon {background-image:url(../images/nav_next.png);width:16px;height:16px;}
			.panIcon {background-image:url(../images/nav_pan.png);width:16px;height:16px;}
			.refreshIcon {background-image:url(../images/GenericRefresh_B_16.png);width:16px;height:16px;}
			.deactivateIcon {background-image:url(../images/nav_decline.png);width:16px;height:16px;}

			.helpbutton {width:16px;height:16px;position:absolute;right:5px;}
			
			#search {
				position: absolute;
				z-index: 2;
				width:90%;
			}		
			
			#navToolbar {
				-mozt-box-shadow: 0px 5px 10px #adadad;
				-webkit-box-shadow: 0px 5px 10px #adadad;
				box-shadow: 0px 5px 10px #adadad;
				opacity:0.8;
				position: absolute;
				top: 20px; 
				right: 20px; 
				z-index: 99;
				border-bottom: 0px;
				background-color: white;
				padding: 3px;
                -moz-border-radius:4px;
                -webkit-border-radius: 4x;
                border-radius: 4px;

            }
			

			  
      /*                        */
      .simpleGeocoder, .simpleGeocoder .esriGeocoderContainer {
        font-size: 1em;
        line-height: 1em;
        height: 4em;
        width: 100%;
      }
	    .simpleGeocoder .esriGeocoder {
        border: 0;
        height: 100%;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
      }
	  
	  .simpleGeocoder .esriGeocoderIcon { 
        display: none;
      }

      .simpleGeocoder .esriGeocoderResults {
        border: 0;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
      }
      .simpleGeocoder .esriGeocoderResultLast {
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
      .simpleGeocoder .esriGeocoderResult:hover, 
      .simpleGeocoder .esriGeocoderResultEven:focus, 
      .simpleGeocoder .esriGeocoderResultOdd:focus {
        background-color: #B5DAEA;
      }